* {
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
}

/* NavBar */
.nav-container {
	position: relative;
	/* z-index: 1; */
	width: 100%;
	height: 4rem;
	display: flex;
	justify-content: center;
	background: whitesmoke;
	/* position: fixed; */
	/* z-index: 20; */
	/* transition: all 0.3s ease-in-out; */
}

.navbar {
	display: flex;
	width: 90%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	font-size: large;
	background-color: inherit;
}

.navlink-container {
	display: flex;
	width: 54%;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
}

.navbar span img {
	width: 90px;
	height: 60px;
}

.nav-link a {
	text-decoration: none;
	color: inherit;
}

/* Slideshow */

/* Slideshow container */
.slideshow-container {
	max-width: 80vw;
	max-height: 70vh;
	position: relative;
	margin: auto;
	user-select: none;
	margin-top: 80px;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 1s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 1s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.8;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.8;
	}
	to {
		opacity: 1;
	}
}

.slideshow {
	height: 90vh;
	width: 100%;
}

.slideimage {
	height: 70vh;
	width: 100%;
}

.slidebg {
	position: absolute;
	width: 60vw;
	height: 100vh;
	background: blue;
	right: 0;
	top: 0;
	z-index: -1;
}

/* section-2  latest updates*/
.section-2 {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: aqua; */
}

.section-2 .flex {
	width: 100%;
	height: 100vh;
	display: flex;
}

.section-2 .div-1 {
	position: relative;
	width: 50%;
	height: 100%;
}

.section2 .div-1 img {
	position: relative;
	width: 100%;
	height: 100%;
}

.section-2 .div-2 {
	position: relative;
	width: 50%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: black; */
}

.div-2 .news-box {
	height: 65vh;
	width: 70%;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.news-box .space {
	width: 85%;
}

.news-box p {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 600;
}

.bottom-drive {
	border: 1px solid black;
	padding: 10px 18px;
	border-radius: 20px;
}

.bottom-drive a {
	text-decoration: none;
	letter-spacing: 0.7px;
	font-size: 20px;
	font-weight: 700;
}

.div-2 h1 {
	font-weight: bolder;
	font-size: 30px;
}

.span {
	width: 70%;
	margin-bottom: 20px;
}

.importantdates {
	position: relative;
	display: flex;
	height: 100vh;
	width: 100%;
}

.grid {
	position: relative;
	width: 50%;
	height: 100%;
	display: grid;
	grid-template-areas:
		'cont1 cont2'
		'cont3 cont4'
		'cont5 cont6';
	align-content: center;
	justify-content: space-around;
}

.item1 {
	grid-area: cont1;
}
.item2 {
	grid-area: cont2;
}
.item3 {
	grid-area: cont3;
}
.item4 {
	grid-area: cont4;
}
.item5 {
	grid-area: cont5;
}

.item5 {
	grid-area: cont6;
}

.grid-item {
	/* padding: 30px; */
	height: 150px;
	width: 150px;
	background-color: #1face8;
	margin: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.design {
	position: relative;
	width: 70%;
}

.design svg {
	width: 70%;
}

.neet-toppers {
	height: 45vh;
	width: 100%;
	margin: 6rem 0;
	padding: 0 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.neet-toppers > h1 {
	font-size: 2.5rem;
}

.topper-card-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 4rem;
}

.topper-card {
	width: 35%;
	height: 100%;
	padding: 1rem;
	background-color: rgba(86, 128, 54, 0.79);
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.topper-image {
	width: 9rem;
	height: 9rem;
	position: relative;
	background-color: blanchedalmond;
}

.topper-details {
	position: relative;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.topper-details h2 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.topper-details p {
	font-size: 1.5rem;
}

.neet-2020-toppers {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.neet-2020-toppers img {
	position: absolute;
	width: 18%;
	z-index: -1;
}

.neet-2020-toppers-a {
	position: absolute;
	border-radius: 50px;
	padding: 0.5rem 5rem;
	border: 1px solid black;
	font-size: 2rem;
	background-color: rgba(255, 255, 255, 0.8);
}

.neet-2020-toppers-a a {
	text-decoration: none;
	color: black;
}

.stats {
	width: 100%;
	height: 60vh;
	background: url('./img/stats_bg_img.jpg');
	background-size: cover;
	background-position: 0px 54%;
	margin-top: 6rem;
	position: relative;
}

.stats-details {
	width: 100%;
	height: 30%;
	margin-top: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
}

.stat {
	display: flex;
	width: 20%;
	padding: 2rem;
	height: 100%;
	position: relative;
	align-items: center;
	justify-content: space-between;
}

.stat h1 {
	font-size: 4rem;
}

.stat h3 {
	font-size: 1.5rem;
	margin-left: 1rem;
}

.studentstestimonials {
	height: 60vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.testimonialsbox {
	width: 66%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 40px;
}

.testimonials {
	border: 1px solid black;
	border-radius: 14px;
	height: 12rem;
	width: 20rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.testimonials span {
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.testimonials span img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.imghead {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 7%;
}

.pbody {
	width: 90%;
	text-align: justify;
}

.aprev,
.anext {
	font-size: 30px;
	cursor: pointer;
}

footer {
	position: relative;
	width: 100%;
	height: 60vh;
}

.footer_svg_1,
.footer_svg_2 {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
}
