.header{
    background: #FFFFFF;
    position: absolute;
    width: 1440px;
    height: 129px;
    left: 4px;
    top: -5px;
}

.logo{
    position: absolute;
    width: 175px;
    height: 91px;
    left: 83px;
    top: 14px;
}

.nav-link1{
    position: absolute;
    width: 116px;
    height: 46px;
    left: 332px;
    top: 51px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.nav-link2{
    position: absolute;
    width: 174px;
    height: 42px;
    left: 458px;
    top: 51px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.nav-link3{
    position: absolute;
    width: 247px;
    height: 36px;
    left: 642px;
    top: 51px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}